@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Ultra&display=swap");
*, *::before, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  cursor: default;
}

button, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input[type=text], input[type=password], textarea {
  border: none;
  outline: none;
}

::placeholder {
  color: #333333;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 108px;
  height: 101px;
  background-color: #87DE87;
  color: #333333;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.menu__item {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 18px;
  font-weight: 600;
}
.menu__item--white-background {
  padding: 11px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2509803922);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero-section {
  position: relative;
}

.hero-background-image {
  position: relative;
  object-fit: cover;
  top: 0;
  width: 100%;
  height: 640px;
}

.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  color: #FFFFFF;
  position: absolute;
  left: 228px;
  top: 206px;
  padding-left: 32px;
  background-color: #87DE87;
  width: 595px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  padding: 32px 24px 32px 24px;
  gap: 10px;
}
.hero-text__paragraph {
  font-size: 18px;
  font-weight: 400;
}

.card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 108px;
  gap: 86px;
}
.card-section__title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

.card {
  background-color: #333333;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 32px;
  color: #FFFFFF;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2509803922);
}

.card-header {
  display: flex;
  align-items: center;
}
.card-header__title {
  font-size: 24px;
  font-weight: 600;
}
.card-header__subtitle {
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
}
.card-header__image {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: #87DE87;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 32px;
}

.card-paragraph {
  margin-top: 17px;
  font-size: 0.95rem;
  font-weight: 400;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.learn-section {
  display: flex;
  flex-direction: row;
  gap: 120px;
  padding: 64px 108px;
  background-color: #333333;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.learn-section__title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

.learn-subsection {
  display: flex;
  gap: 5vw;
}
.learn-subsection__image {
  width: 664px;
  height: 480px;
  object-fit: cover;
}
.learn-subsection__image--green-right {
  padding-right: 32px;
  background-color: #87DE87;
}
.learn-subsection__image--green-left {
  padding-left: 32px;
  background-color: #87DE87;
}
.learn-subsection__paragraph {
  margin: 12px 0;
  box-sizing: border-box;
  font-size: 0.97rem;
  font-weight: 400;
}

.subsection-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.learn-section__button {
  cursor: pointer;
  background-color: #87DE87;
  color: #333333;
  padding: 25px 43px;
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.form-section {
  padding: 120px 108px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  color: #333333;
}

.form-section__title {
  font-size: 48px;
  font-weight: 700;
}

.form-section__paragraph {
  font-size: 24px;
  font-weight: 500;
  width: 50%;
  padding: 24px 0 48px 0;
}

.section-form {
  display: flex;
  justify-content: space-between;
  width: 696px;
  height: 64px;
  border-radius: 12px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 8px;
}

.section-form__input {
  width: 100%;
  padding-left: 8px;
}

.section-form__button {
  border-radius: 12px;
  background: #87DE87;
  width: 120px;
  font-weight: 700;
}

.fa-solid {
  width: 100px;
}

.footer {
  background-color: #87DE87;
  padding: 48px 108px 0 108px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0 96px 0;
  align-content: center;
}
.footer-content__list {
  gap: 10px;
}

.footer-content__title {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}
.footer-content__title--big {
  font-size: 24px;
}
.footer-content__title--black {
  color: #000;
}

.footer-license {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  color: #FFFFFF;
  padding: 0 108px;
  height: 48px;
  font-size: 18px;
  font-weight: 400;
}

.footer-license-privacy {
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.footer-content__list {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.footer-content__list--row {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.socialmedia-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  border-radius: 50%;
}

.footer-logo {
  display: flex;
}

.logo {
  background-color: #FFFFFF;
  width: auto;
  height: 42px;
  display: flex;
  justify-content: center;
}
.logo--background-large {
  height: 78px;
}
.logo__text {
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: 1.25px;
  color: #333333;
  position: relative;
  top: 20px;
}
.logo__text--large {
  top: 42px;
  font-size: 3rem;
}

.hero-section__title {
  font-size: 48px;
  font-weight: 600;
}

.section-title {
  font-size: 48px;
  font-weight: 700;
}

.section-subtitle {
  font-size: 36px;
  font-weight: 600;
}

.glide__image {
  width: 552px;
  height: 321px;
  flex-shrink: 0;
}

.carousel-section {
  padding-top: 262px;
}

.glide {
  position: relative;
}

.glide__arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 110px;
  padding: 0 132px;
}

.glide__arrow--round {
  background-color: #87DE87;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 50%;
}

/*# sourceMappingURL=main.css.map */
