@use "../abstracts/" as ab;

.drop-menu   {
    height: 100%;
    width: 100%;
  
    background-color: ab.$white;
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  

    padding: 88px 32px 48px 32px;

    font-size: 24px;
    font-weight: 600;
    color: ab.$black;
  
    transition: ease-in-out 0.5s;
    transform: translateY(-200%);

    &__nav{
      gap: 32px;
      display: flex;
      flex-direction: column;
    }

    &__button{
      display: flex;
      align-items: center;
      align-content: center;
      text-align: center;
      justify-content: center;
  
       height: 56px;
       width: 160px;


  
      &--green{
          padding: 18px;
          background-color: ab.$green;
          @include ab.shadow;
  
         font-size:18px;
          font-weight: 700;
          text-transform: uppercase;
  
      }
    }

    @include ab.min-breakpoint(ab.$breakpoint--medium){
      display: none;
      position: fixed;

      right: 108px;
    };


  }

  .drop-menu.drop-menu--dropped {
    transform: translateY(0%);
    
  }


