@use "../abstracts/" as ab;

.form-section{
    padding:  120px 108px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

    color: ab.$gray;
}

.form-section__title{
    font-size: 48px;
    font-weight: 700;
}

.form-section__paragraph{
    font-size: 24px;
    font-weight: 500;
    width: 50%;
    padding: 24px 0 48px 0;
}

.section-form{
    display: flex;
    justify-content: space-between;
    width: 696px;
    height: 64px;
    border-radius: 12px;
    @include ab.shadow;
    padding: 8px;
}

.section-form__input{
    width: 100%;
    padding-left: 8px;
}

.section-form__button{
    border-radius: 12px;
    background: #87DE87;
    width: 120px;
    font-weight: 700;

}

.fa-solid{
    width: 100px;
}


@include ab.max-breakpoint(ab.$breakpoint--medium){

    .form-section{
        padding:  48px 31px;

        &__paragraph{
            width: 100%;
            text-align: center;
            padding: 24px 0;
            font-size: 16px;
            font-weight: 500;
        }
    }

    .section-form--small{
        height: 48px;
    }

    .section-form{

        width: 100%;
        padding: 0px;

        &__input{
            border-radius: 12px;
        }

        ::placeholder{
            font-family: Raleway;
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
        }

        &__button{
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;

            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        

    }


}


