@use "../abstracts/" as ab;


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    padding: 0 108px;
    height: 101px;
    background-color: ab.$green;
    color: ab.$gray;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 24px;


    
}


.menu__item{
    display: flex;
    align-items: center;
    align-content: center;

    
    font-size: 18px;
    font-weight: 600;

    &--white-background{
        padding: 11px;
        background-color: ab.$white;
        @include ab.shadow;

       font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;

    }
}