@use "../abstracts/" as ab;

.hero-section{
    position: relative;

}

.hero-background-image{
    position: relative;
    object-fit:cover;
    top: 0;
    width: 100%;
    height: 640px;



}



.hero-card{

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;

    color: ab.$white;

    position: absolute;
    left: 228px;
    top: 206px;
    padding-left: 32px;

    background-color: ab.$green;
    width: 595px;

    @include ab.max-breakpoint(ab.$breakpoint--medium){
        position: initial;
        text-align: center;
        padding-left: 0px;
        padding-bottom: 49px;
        width: 100%;

    };
}

.hero-text__title{
    @include ab.title(ab.$breakpoint--medium)
}

.hero-text{
    display: flex;
    flex-direction: column;
    background-color: ab.$gray;
    padding: 32px 24px 32px 24px;
    gap: 10px;

    &__paragraph{
        font-size: 18px;
        font-weight: 400;

    }

    @include ab.max-breakpoint(ab.$breakpoint--medium){
        padding: 32px;
        
    };
}

@include ab.max-breakpoint(ab.$breakpoint--medium){

    .hero-text__title--small{
        color: #FEFEFE;
        text-align: center;
        font-family: Raleway;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

   .hero-section{
        background-color: #333;
        position: relative;
    };

    .hero-text{
        padding: 32px;

        &__paragraph{
            font-size: 18px;
            font-weight: 400;
            text-align: start;
        }
    }

    
.hero-card{
        position: initial;
        padding-left: 0px;
        padding-bottom: 49px;
        width: 100%;
    }
}

