@use "../abstracts/" as ab;

.learn-section{
    display: flex;
    flex-direction: row;
    gap: 120px;
    padding: 64px 108px;
    background-color: ab.$gray;

    color: ab.$white;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        text-align: center;
        font-size: 48px;
        font-weight: 700;
    }
}


.subsection-image-wrapper{
    width: 100%;
}
.learn-section{
    padding: 64px 0px;
}

.learn-subsection{
    display: flex;

    gap: 5vw;

    padding: 0 108px;

    &__image{
        
        width: 664px;
        height: 480px;
        object-fit:cover;


        
    }

    &__image--green-right{
        padding-right: 32px;
        background-color: ab.$green;


    }

    &__image--green-left{
        padding-left: 32px;
        background-color: ab.$green;


    }

    &__paragraph{
        margin: 12px 0;
        box-sizing: border-box;
        font-size: 0.97rem; 
        font-weight: 400;
        
    }

    &__title{
        font-size: 36px;
        font-weight: 600;
    }
    
}

.learn-subsection-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

}

.learn-section__button{
    cursor: pointer;
    background-color: ab.$green;
    color: ab.$gray;
    padding: 25px 43px;
    border-radius: 12px;

    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

}

@include ab.max-breakpoint(ab.$breakpoint--medium){

    

    .learn-section__title--small {    
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        color: ab.$white;
    }

    .learn-subsection-text{
        font-size: 18px;
        font-weight: 400;
        padding: 0px 31px;
    }

    .learn-section{
        gap: 29px;
        padding: 36px 0;
    }


    .learn-section__button{
        display: none;
    }

    .learn-subsection{

        
    padding: 0px 0px;
    gap: 29px;
        &__image{
            height: 360px;
            width: 100%;
        }

        &__title{
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            padding: 0 0 28px 0;

        }

        flex-direction: column;

        &__image--green-right{
        padding-right: 0px;
        padding-bottom: 32px;
        }

        &--reverse{
            display: flex;
            flex-direction: column-reverse;
        }

        &__image--green-left{
                padding-bottom: 32px;
                padding-left: 0;
        }
    }


    


}




