$green: #87DE87;
$gray: #333333;
$white: #FFFFFF;
$black: #000;

$shadow-black:#00000040;


$breakpoint--small: 668px;
$breakpoint--medium: 992px;
$breakpoint--large: 1312px;
$breakpoint--xlarge: 1440px;
$breakpoint--xxlarge: 1920px;

$padding--small: 32px;
$padding--big: 108px;